<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Ninjas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="ninjas.css") }}">
  </head>
  <body>
    <h1>Ninjas:</h1>
    <p>Despite many popular folktales, historical accounts of the ninja are scarce.
       Historian Stephen Turnbull asserts that the ninja were mostly recruited from
       the lower class, and therefore little literary interest was taken in them.
       Instead, war epics such as the Tale of Hōgen (Hōgen Monogatari) and the Tale
       of the Heike (Heike Monogatari) focus mainly on the aristocratic samurai,
       whose deeds were apparently more appealing to the audience. Historian Kiyoshi
       Watatani states that the ninja were trained to be particularly secretive about
       their actions and existence</p>
  </body>
</html>
